.root {
    -fx-background-color: #F5F5F5;
    -fx-text-fill: #333333;
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-prompt-text-fill: #999999;
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #45A049;
}

.button:pressed {
    -fx-background-color: #398439;
}
